@model FossLock.Web.ViewModels.ProductFeatureViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <h4>Feature @Html.Display(Model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id);

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            |
            @Html.ActionLink("Back to Product", "Edit", new { controller = "Product", id = Model.ProductId })
        </div>
    }
</div>
